<div id="container">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="light" (click)="showVersions()"
          >Default Button</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="loading = !loading" color="light">
          <ion-spinner
            *ngIf="loading"
            [style]="{
              'margin-right': '15px'
            }"
          ></ion-spinner>
          Loading Button</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
